<section class="side-nav-parent">
    <div class="d-grid second-par">
        <span class="course-heading">Course Code</span>
        <span class="course-details">BA3102</span>
    </div>
    <hr class="my-2">
    <div class="d-grid  second-par">
        <span class="course-heading">Course Name</span>
        <span class="course-details">Quantitative techniques</span>
    </div>
    <hr class="my-2">
    <div class="d-grid second-par">
        <span class="course-heading">Course Type</span>
        <span class="course-details">Program Elective</span>
    </div>
    <hr class="my-2">
    <div class="d-grid second-par">
        <span class="course-heading">Course Period</span>
        <div>
            <span class="course-details">Semester - </span>
            <span class="semester-no">1</span>
        </div>
    </div>
    <hr class="my-2">
    <div>
        <span class="course-heading d-block pb-2">Credits (4)</span>
        <div class="d-flex">
            <span class="course-details credits-width ">Lecture - </span>
            <span class="semester-no">3</span>
        </div>
        <div class="d-flex">
            <span class="course-details credits-width ">Tutorial - </span>
            <span class="semester-no">0</span>
        </div>
        <div class="d-flex">
            <span class="course-details credits-width ">Practical - </span>
            <span class="semester-no">1</span>
        </div>
        <div class="d-flex">
            <span class="course-details credits-width ">Project - </span>
            <span class="semester-no">0</span>
        </div>
    </div>
    <hr class="my-2">
    <div>
        <span class="course-heading d-block mb-2">Course Outcomes (COs)</span>
        <div class="mobile-view-flex">
            <div class="d-flex outcomes-parent">
                <span class="outcomes">CO2</span>
                <span class="outcomes">CO4</span>
                <span class="outcomes">CO5</span>
            </div>
            <div class="d-flex mt-2 outcomes-parent">
                <span class="outcomes">CO7</span>
                <span class="outcomes">CO13</span>
                <span class="outcomes">C014</span>
            </div>
        
        </div>
    </div>
    <hr class="my-2">
    <div>
        <span class="course-heading d-block mb-2">Mapped to this Course</span>
        <div class="mobile-view-flex">
            <div class="d-flex mapped-parent">
                <span class="mapped-course">PO7</span>
                <span class="mapped-course">P010</span>
                <span class="mapped-course">P012</span>
            </div>
            <div class="d-flex mt-2 mapped-parent">
                <span class="mapped-course">P08</span>
            </div>
        </div>
    </div>
</section>