<section class="container-parent">
  <div class="row m-0">
    <div class="col-md-12 p-0 course-evaluation d-flex">

      <div class="col-md-2 side-nav">
        <app-side-bar></app-side-bar>
      </div>
      <div class="col-md-10 assessment-attendence">
        <div class="d-flex student-data">
          <div class="total-students mr-3">
            <span class="student-text">Total Students</span>
            <span class="student-number">102</span>
          </div>
          <div class="course-average">
            <span class="course-text">Course Average Mark</span>
            <span class="course-percent">85%</span>
          </div>
        </div>
        <app-assessment-process></app-assessment-process>
        <app-attendence-track></app-attendence-track>
      </div>
    </div>
  </div>
</section>
