
.assessment-heading{
    margin: 10px 0;
    font-weight: 700;
}
.bar-chart-container {
    display: flex;
    align-items: flex-start;
    padding: 20px 20px 35px 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    flex-direction: column;
  }
   
  .y-axis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    margin-right: 10px;
    font-size: 12px;
    color: #333;
  }
   
  .y-value {
    text-align: right;
  }
   
  .bar-chart {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 220px;
    padding: 20px 20px 0 20px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
   
  .grid-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    left: 0;
  }
   
  .grid-line:nth-child(1) { bottom: 20%; }
  .grid-line:nth-child(2) { bottom: 40%; }
  .grid-line:nth-child(3) { bottom: 60%; }
  .grid-line:nth-child(4) { bottom: 80%; }
  .grid-line:nth-child(5) { bottom: 100%; }
   
  .bar-group {
    width: 100%;
    height: 100%;
    margin-right: 32px;
    position: relative;
  }
   
  .bar {
    width:19%;
    margin: 2px 2px;
  }

  .bar-green{
    background-color: #4CAF50;
  }

  .bar-white{
    background-color: #ccc;
  }
   
  .x-label {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
  }

  .x-axis_name{
    font-size: 12px
  }

  .white-clr{
    background-color: #ccc !important;
  }

  .bar-info{
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
  }

  .indicator-parent{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .indicator{
    width: 15px;
    height: 10px;
    background-color: green;
  }
  .status{
    font-size: 12px;
  }

  @media screen and (max-width: 500px) {
    .bar-group{
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 600px) {
    .bar-group{
      margin-right: 0px;
    }
  }