<div class="assessment-heading">Assessment Progress</div>
<div class="bar-chart-container">
    <div class="d-flex bar-info w-100">
        <div class="indicator-parent">
            <div class="indicator white-clr"></div>
            <div class="status ">Pending</div>
        </div>
        <div class="indicator-parent">
            <div class="indicator"></div>
            <div class="status">Completed</div>
        </div>
    </div>
    <div class="d-flex w-100">

        <div class="y-axis">
          <div class="y-value">100%</div>
          <div class="y-value">75%</div>
          <div class="y-value">50%</div>
          <div class="y-value">25%</div>
          <div class="y-value">0%</div>
        </div>
       
        <div class="bar-chart">
          <div class="grid-line"></div>
          <div class="grid-line"></div>
          <div class="grid-line"></div>
          <div class="grid-line"></div>
          <div class="grid-line"></div>
       
          <div *ngFor="let group of barGroups" class="bar-group mr-5">
            <div class="d-flex w-100 h-100 align-items-end">
              <div *ngFor="let bar of group.bars" 
                   class="bar" 
                   [ngClass]="{'bar-green': bar.color === 'green', 'bar-white': bar.color === 'white'}" 
                   [style.height]="bar.height"></div>
            </div>
            <div class="d-flex justify-content-center x-axis_name">{{ group.name }}</div>
          </div>
        </div>
    </div>
  </div>