<div class="assessment-heading">Assessment Progress</div>
<div class="bar-chart-container">
    <div class="d-flex bar-info w-100">
        <div class="indicator-parent">
            <div class="indicator white-clr"></div>
            <div class="status ">Pending</div>
        </div>
        <div class="indicator-parent">
            <div class="indicator"></div>
            <div class="status">Completed</div>
        </div>
    </div>
    <div class="d-flex w-100">

        <div class="y-axis">
          <div class="y-value">100%</div>
          <div class="y-value">75%</div>
          <div class="y-value">50%</div>
          <div class="y-value">25%</div>
          <div class="y-value">0%</div>
        </div>
       
        <div class="bar-chart">
          <div class="grid-line"></div>
          <div class="grid-line"></div>
          <div class="grid-line"></div>
          <div class="grid-line"></div>
          <div class="grid-line"></div>
       
          <!-- John Bars -->
          <div class="bar-group mr-5">
            <div class="d-flex w-100 h-100 align-items-end">
    
                <div class="bar bar-green" style="height: 70%;"></div>
                <div class="bar bar-green" style="height: 50%;"></div>
                <div class="bar bar-green" style="height: 60%;"></div>
                <div class="bar bar-white" style="height: 40%;"></div>
            </div>
            <div class="d-flex justify-content-center x-axis_name">Assignment</div>
          </div>
       
          <!-- Emily Bars -->
          <div class="bar-group mr-5">
            <div class="d-flex w-100 h-100 align-items-end">
    
                <div class="bar bar-green" style="height: 60%;"></div>
                <div class=" bar bar-green" style="height: 40%;"></div>
                <div class="bar bar-white" style="height: 70%;"></div>
                <div class="bar bar-green" style="height: 50%;"></div>
                <div class="bar bar-green" style="height: 10%;"></div>
            </div>
            <div class="d-flex justify-content-center x-axis_name">Quiz</div>
    
          </div>
       
          <!-- Michael Bars -->
          <div class="bar-group">
            <div class="d-flex w-100 h-100 align-items-end">
    
                <div class="bar bar-green" style="height: 80%;"></div>
                <div class="bar bar-green" style="height: 60%;"></div>
                <div class="bar bar-green" style="height: 30%;"></div>
            </div>
            <div class="d-flex justify-content-center x-axis_name">Presentation</div>
    
          </div>
       
          <!-- Sara Bars -->
          <div class="bar-group">
            <div class="d-flex w-100 h-100 align-items-end">
    
                <div class="bar bar-white" style="height: 80%;"></div>
                <div class="bar bar-green" style="height: 90%;"></div>
                <div class="bar bar-white" style="height: 20%;"></div>
                <div class="bar bar-green" style="height: 50%;"></div>
            </div>
            <div class="d-flex justify-content-center x-axis_name">Lab</div>
    
          </div>
    
          <div class="bar-group">
            <div class="d-flex w-100 h-100 align-items-end">
    
                <div class="bar bar-green" style="height: 80%;"></div>
    
            </div>
            <div class="d-flex justify-content-center x-axis_name">Viva</div>
    
          </div>
        </div>
    </div>
  </div>