
<div class="attendence-heading">Student's Attendence</div>

<div class="d-flex attendence-parent">

    <div class="y-axis-parent">
        <p id="y1-25" class="y-axis">100%</p>
        <p id="y1-50" class="y-axis">75%</p>
        <p id="y1-75" class="y-axis">50%</p>
        <p id="y1-100" class="y-axis">25%</p>
        <p id="y1-0" class="y-axis">0%</p>
    </div>
    <div>   
        <div id="chart">
            
            
            
            <div>
            <div id="point1"></div>
            <div id="line1"></div>
            </div>
            <div>
            <div id="point2"></div>
            <div id="line2"></div>
            </div>
            <div>
            <div id="point3"></div>
            <div id="line3"></div>
            </div>
            <div>
            <div id="point4"></div>
            <div id="line4"></div>
            </div>
            <div>
            <div id="point5"></div>
            <div id="line5"></div>
            
            </div>
            <div>
                <div id="point6"></div>
                <div id="line6"></div>
                </div>
                <div>
                    <div id="point7"></div>
                    <div id="line7"></div>
                    </div>
            </div>
        <div class="x-axis-parent">
            <p id="y1-25" class="y-axis">20/7</p>
            <p id="y1-50" class="y-axis">28/7</p>
            <p id="y1-75" class="y-axis">5/8</p>
            <p id="y1-100" class="y-axis">11/8</p>
            <p id="y1-0" class="y-axis">18/8</p>
            <p id="y1-0" class="y-axis">25/8</p>
            <p id="y1-0" class="y-axis">31/8</p>

        </div>
    </div>

</div>